.filterProducts {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
  }
  
  .filters {
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .productCard {
    margin: 10px;
    width: 150px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
  }
  
  .productCard img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .productCard h2 {
    font-size: 1rem;
    color: #333;
  }
  